body
    font-family: 'Poppins'
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 28px
    overflow-x: hidden

    @media(max-width: 1000px)
        min-width: 375px

a
    &:hover
        opacity: 0.7

.numbers_text
    font-size: 48px
    font-weight: 600
    line-height: 64px

    @media(max-width: 1000px)
        font-size: 64px
        font-weight: 600
        line-height: 64px

.numbers_text_caption
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 18px
    color: #404040
    opacity: 0.6

    @media(max-width: 1000px)
        margin-top: 28px

.button
    display: flex
    align-items: center
    justify-content: center
    background: #FF553E
    color: #fff
    text-align: center
    cursor: pointer

    &:hover
        opacity: 0.9

    &.-login
        width: 133px
        height: 60px
        border-radius: 34px

    &.-trial
        width: 240px
        height: 76px
        border-radius: 40px

    &.-price
        width: 240px
        height: 76px
        border-radius: 40px

    &.-partners
        border-radius: 40px
        width: 184px
        height: 76px

    &.-white
        background: #FFFFFF
        color: #FF553E

        &:hover
            background: #e9e7e7

    &.-orangeborder
        border: 1px solid #FF553E

    &.-transparent
        background: transparent

        &:hover
            background: #e9e7e7

    &.-apple
        width: 180px
        height: 73px
        border-radius: 40px

    &.-google
        width: 195px
        height: 73px
        border-radius: 40px

main
    height: 7600px

    @media screen and ( max-width: 1000px)
        height: 7200px

.header
    display: flex
    align-items: center
    padding: 0 19.5%
    gap: 12px
    justify-content: space-between
    background: #FFF8F2

    @media(max-width: 1000px)
        padding: 0

    &__col
        margin-top: 40px

        @media (max-width: 1000px)
            margin-top: 28px

        &__logo
            width: 178.57px
            height: 40px

            @media(max-width: 1000px)
                margin-left: 24px

        &__auth
            position: relative
            display: flex
            gap: 32px

            @media(max-width: 1000px)
                display: none

        &__burger
            display: none

            @media(max-width: 1000px)
                display: block
                margin-right: 24px
                cursor: pointer

    &__nav
        position: relative
        display: flex
        width: 22vw
        min-width: 350px
        justify-content: space-between
        font-weight: 400
        font-size: 18px
        line-height: 24px

        @media(max-width: 1000px)
            display: none

    &__auth
        display: flex
        align-items: center
        font-weight: 500

    &__link
        color: #FF553E

.general
    background: #FFF8F2
    height: 1026px
    z-index: 1

    @media screen and (max-width: 1000px)
        height: 589px

    &__content
        display: flex
        flex-direction: column
        align-items: center

        &__block
            text-align: center

            @media(max-width: 1000px)
                text-align: left
                margin-left: 6.4%

            &__bigtext
                margin-top: 220px
                width: 800px
                height: 180px
                font-weight: 700
                font-size: 64px
                font-style: bold
                line-height: 90px
                z-index: 2

                @media screen and ( max-width: 1000px )
                    margin-top: 75px
                    width: 297px
                    height: 135px
                    font-size: 28px
                    font-style: normal
                    line-height: 160%
                    text-transform: capitalize

                .underline
                    position: relative
                    background: url(../assets/Shape.png) no-repeat
                    background-position: 0px 50px

                    @media(max-width: 1000px)
                        background: url(../assets/shape_mobile.png) no-repeat
                        background-position: 2px 18px

            &__smalltext
                font-family: 'Inter'
                margin-top: 20px
                width: 595px
                font-weight: 400
                font-size: 20px
                line-height: 36px
                color: #40201E
                opacity: 0.8
                z-index: 3

                @media screen and ( max-width: 1000px )
                    margin-top: 12px
                    width: 307px
                    font-size: 16px

            &__button
                margin-top: 68px

                @media(max-width: 1000px)
                    margin-top: 40px

    .iphone-off
        position: absolute
        left: 1.38%
        right: 81.91%
        top: 50.59%
        bottom: -24.32%

        @media(max-width: 1550px)
            left: -200px

        @media(max-width: 1000px)
            display: none

    .iphone-on
        position: absolute
        right: 0
        top: 39.8%
        bottom: -40.24%

        @media(max-width: 1550px)
            display: none

    .clipboard
        position: absolute
        left: 65%
        top: 568px
        z-index: 0

        @media(max-width: 1550px)
            left: 75%

        @media(max-width: 1000px)
            display: none

    .clock
        position: absolute
        top: 228px
        left: 19.5%
        z-index: 1

        @media(max-width: 1550px)
            left: 10%

        @media(max-width: 1000px)
            left: inherit
            right: 50px
            top: 92px
            width: 65.17px
            height: 75.85px

    .clipboard_line
        position: absolute
        top: 699px
        left: 61.3%

        @media(max-width: 1000px)
            width: 66.47px
            height: 59.52px
            left: calc(277px + 4%)
            top: 462.62px
            opacity: 0.3

    .clock_line
        position: absolute
        top: 199px
        left: 12.9%

        @media(max-width: 1000px)
            display: none

    .phone_line
        position: absolute
        top: 244px
        left: 78.2%

        @media(max-width: 1000px)
            display: none

    .square_line
        position: absolute
        top: 787px
        left: 33.1%

        @media(max-width: 1000px)
            left: -9px
            top: 504px
            opacity: 0.2

.features
    background: url("../assets/facts_bg.png")
    position: relative
    height: 970px
    margin-top: -196px
    z-index: 5

    @media (max-width: 1000px)
        margin-top: 0
        background: solid white
        height: 1700px

    &__facts
        position: relative
        display: flex
        flex-direction: row
        justify-content: space-between
        max-width: 700px
        left: 23.7vw
        margin-right: 23.7vw
        gap: 9.3%
        text-align: center

        @media(max-width: 1000px)
            flex-direction: column
            left: 0
            margin-left: 30.6vw
            margin-right: 30.6vw
            align-items: center

        &__line
            @media screen and ( max-width: 1000px )
                margin-top: 48px
                width: 180px
                opacity: 0.2
                border: 1px solid #1E0C3E

        &__container
            display: flex
            margin-top: 48px
            flex-direction: column

        .facts-first
            @media(max-width: 1000px)
                margin-top: 48px

    &__info
        display: flex
        align-items: center
        flex-direction: column
        margin-top: 205px
        gap: 20px

        @media(max-width: 1000px)
            margin-top: 80px

        &__bigtext
            height: 70px
            font-family: 'Poppins'
            font-style: normal
            font-weight: 600
            font-size: 48px
            line-height: 70px
            text-align: center

            @media(max-width: 1000px)
                width: 311px
                font-size: 24px
                line-height: 150%
                text-align: center
                text-transform: capitalize

            .underline
                position: relative
                background: url(../assets/Shape.png) no-repeat
                background-position: 0px 30px

                @media (max-width: 1000px)
                    background: url(../assets/shape_transparent.png) no-repeat
                    background-position: 10px 15px

        &__smalltext
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 18px
            max-width: 659px
            line-height: 36px
            text-align: center

            @media(max-width: 1000px)
                width: 327px
                font-size: 16px
                line-height: 36px
                text-align: center

    &__cards
        display: flex
        justify-content: center
        gap: 1.6vw
        margin-top: 64px

        @media(max-width: 1000px)
            flex-direction: column
            align-items: center
            gap: 20px
            margin-top: 28px

    &__card
        display: flex
        justify-content: flex-start
        flex-direction: column
        min-width: 250px
        width: 19.2vw
        height: 258px
        box-shadow: 14px 20px 48px rgba(25, 15, 44, 0.06)
        border-radius: 48px
        padding: 28px

        @media(max-width: 1000px)
            width: 310px

        &:hover
            transform: scale(1.05)

        &__photobox
            width: 88px
            height: 88px
            background: rgba(255, 255, 255, 0.5)
            box-shadow: 14px 20px 48px rgba(25, 15, 44, 0.06)
            border-radius: 24px
            display: flex
            justify-content: center
            padding: 20px

        &__bigtext
            margin-top: 24px
            font-family: 'Poppins'
            font-style: normal
            font-weight: 600
            font-size: 28px
            line-height: 100%
            color: #FFFFFF
            z-index: 2

            @media screen and ( max-width: 1000px )
                font-size: 20px

        &__smalltext
            margin-top: 10px
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 26px
            color: #FFFFFF
            opacity: 0.8

    .card-green
        background: #70D0DC

    .card-blue
        background: #7562E0

    .card-red
        background: #FA865F

    .rocket
        position: absolute
        left: 71.6%
        top: 389px

        @media(max-width: 1000px)
            left: -26px
            top: 552px
            width: 100px
            height: 92px

    .facts-line
        position: absolute
        top: 288px
        left: 4.4%

        @media screen and ( max-width: 1000px )
            display: none

.analytics
    height: 1100px

    @media(max-width: 1000px)
        display: flex
        align-items: center
        flex-direction: column

    &__phone
        position: absolute
        margin-top: 70px
        padding-right: 20px
        height: 886px
        right: 50vw

        @media(max-width: 1200px)
            right: 60vw

        @media(max-width: 1000px)
            margin-left: -36px
            width: 386.22px
            height: 363.15px
            position: static

    &__info
        position: absolute
        left: 49vw
        width: 49vw
        display: flex
        flex-direction: column
        align-items: flex-start

        @media(max-width: 1200px)
            left: 40vw
        @media(max-width: 1000px)
            position: static
            left: 0
            width: 315px

        &__bigtext
            width: 568px
            height: 136px
            margin-top: 188px
            font-family: 'Poppins'
            font-style: normal
            font-weight: 600
            font-size: 48px
            line-height: 68px

            @media screen and ( max-width:1000px )
                font-size: 24px
                line-height: 150%
                width: 315px
                height: 72px
                margin-top: 50px

            .underline
                position: relative
                background: url(../assets/Shape.png) no-repeat
                background-position: 0px 32px

                @media(max-width: 1000px)
                    background: url(../assets/shape_transparent.png) no-repeat
                    background-position: 10px 16px

        &__smalltext
            width: 561px
            margin-top: 20px
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 36px
            color: #404040
            opacity: 0.8

            @media screen and ( max-width:1000px )
                font-size: 16px
                line-height: 180%
                width: 315px
                margin-top: 16px

        &__cards
            display: flex
            flex-direction: column
            margin-top: 48px
            gap: 48px

            @media(max-width: 1000px)
                margin-top: 36px
                gap: 20px

        &__card
            display: flex
            flex-direction: row
            gap: 24px

            &__photobox
                margin-top: 6px
                width: 88px
                height: 88px
                border-radius: 20px
                padding: 20px

                @media(max-width: 1000px)
                    width: 56px
                    height: 56px
                    border-radius: 10px
                    padding: 12px

                img
                    width: 48px
                    height: 48px

                    @media(max-width: 1000px)
                        width: 32px
                        height: 32px

            .box-red
                background: #FA855C

            .box-blue
                background: #7AD6E1

            .box-yellow
                background: #FFC954

            &__bigtext
                font-style: normal
                font-weight: 600
                font-size: 28px
                line-height: 36px

                @media(max-width: 1000px)
                    font-size: 18px
                    line-height: 120%
                    width: 235px
                    margin-top: 8px

            &__smalltext
                margin-top: 8px
                font-family: 'Inter'
                font-style: normal
                font-weight: 400
                width: 300px
                font-size: 18px
                line-height: 36px
                color: #404040
                opacity: 0.8

                @media(max-width: 1000px)
                    font-size: 14px
                    width: 233px
                    line-height: 180%

.tracker
    background: rgba(243, 253, 254, 0.6)
    height: 1052px
    position: relative

    @media(max-width: 1000px)
        height: 1168px

    &__info
        display: flex
        flex-direction: column
        margin-left: 19.5vw

        @media(max-width: 1000px)
            margin-left: 0
            align-items: center

        &__bigtext
            font-weight: 600
            font-size: 48px
            line-height: 70px
            margin-top: 140px
            width: 707px

            @media(max-width: 1200px)
                font-size: 40px

            @media(max-width: 1000px)
                width: 252px
                font-size: 24px
                line-height: 150%
                margin-top: 48px

            .underline
                position: relative
                background: url(../assets/Shape.png) no-repeat
                background-position: 0px 32px

                @media(max-width: 1000px)
                    background: url(../assets/shape_transparent.png) no-repeat
                    background-position: 10px 12px

        &__smalltext
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 36px
            color: #404040
            opacity: 0.8
            width: 699px
            margin-top: 20px

            @media(max-width: 1000px)
                display: none

        &__cards
            display: flex
            width: 620px
            margin-top: 74px
            gap: 81px
            flex-direction: column

            @media(max-width: 1000px)
                width: 307px
                margin-top: 36px
                gap: 20px

            .card-left
                align-self: flex-start

            .card-right
                align-self: flex-end

                @media(max-width: 1350px)
                    align-self: flex-start

        &__card
            display: flex
            gap: 51px

            @media screen and ( max-width: 1000px)
                gap: 21px

            &__photobox
                border-radius: 28px
                padding: 24px
                width: 116px
                height: 116px

                @media(max-width: 1000px)
                    width: 56px
                    height: 56px
                    border-radius: 10px
                    padding: 12px

                img
                    width: 68px
                    height: 68px

                    @media(max-width: 1000px)
                        width: 32px
                        height: 32px

            .box-green
                background: #5BC17F

            .box-red
                background: #FE6292

            .box-blue
                background: #6B72FF

            &__texts
                display: flex
                flex-direction: column

            &__bigtext
                margin-top: -10px
                font-weight: 600
                font-size: 28px
                line-height: 52px

                @media(max-width: 1000px)
                    font-size: 18px
                    line-height: 120%
                    width: 235px
                    margin-top: 0

            &__smalltext
                margin-top: 10px
                margin-left: -3px
                width: 300px
                font-family: 'Inter'
                font-weight: 400
                font-size: 18px
                line-height: 36px
                color: #404040
                opacity: 0.8

                @media(max-width: 1000px)
                    font-size: 14px
                    width: 233px
                    line-height: 180%
                    margin-left: 0

    .tracker_img1
        position: absolute
        top: 376px
        //добавить мобильную

        @media(max-width: 1000px)
            display: none

    .tracker_img2
        position: absolute
        top: -44px
        right: 0

        @media screen and ( max-width: 1000px )
            display: none

    .tracker_mobileimg
        display: none

        @media screen and ( max-width: 1000px  )
            display: block
            position: absolute
            top: -30px
            right: 0px
            width: 79px
            height: 104px

    &__images
        @media(max-width: 1000px)
            display: block
            align-items: center

    .stats
        position: absolute
        top: 295px
        right: 6.5vw
        display: flex
        flex-direction: column
        flex-wrap: wrap
        height: 680px
        width: 683px

        @media screen and (max-width: 1704px)
            display: block
            width: 400px

        @media screen and ( max-width: 1000px )
            display: flex
            flex-direction: column-reverse
            flex-wrap: nowrap
            position: relative
            top: 0
            right: 0
            width: 100%
            align-items: center
            gap: 0px
            margin-top: 50px

        .stats_image
            img
                margin-left: auto
                margin-right: auto
                display: block

                @media(max-width: 1000px)
                    margin: 0

        .stats_1
            width: 267.62px
            height: 270.96px
            left: 0
            right: 0

            @media screen and (max-width: 1704px)
                display: none

            @media screen and (max-width: 1000px)
                width: 330px
                height: 310px
                display: block

            img
                @media screen and (max-width: 1000px)
                    width: 330px
                    height: 310px

        .stats_2
            margin-top: 27px
            margin-left: 37px
            width: 230.82px
            height: 321.14px

            @media screen and (max-width: 1704px)
                display: none

        .stats_3
            margin-left: 27px
            margin-top: 87px
            width: 388.05px
            height: 444.91px

            @media screen and (max-width: 1704px)
                margin-left: 0

            @media screen and (max-width: 1000px)
                width: 300px
                height: 336px

            img
                @media screen and (max-width: 1000px)
                    width: 300px
                    height: 336px

.price
    height: 1186px
    position: relative

    @media screen and ( max-width: 1000px)
        height: 930px

    &__info
        display: flex
        flex-direction: column
        align-items: center
        text-align: center

        &__bigtext
            margin-top: 140px
            width: 638px
            font-weight: 600
            font-size: 48px
            line-height: 70px

            @media screen and ( max-width: 1000px )
                font-size: 24px
                line-height: 150%
                width: 319px
                margin-top: 80px

            .underline
                position: relative
                background: url(../assets/Shape.png) no-repeat
                background-position: 120px 32px

                @media(max-width: 1000px)
                    background: url(../assets/shape_transparent.png) no-repeat
                    background-position: 15px 6px
                    background-size: 137px 27px

        &__smalltext
            margin-top: 20px
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 36px
            color: #404040
            opacity: 0.8
            text-align: center

            @media screen and ( max-width: 1000px )
                margin-top: 10px
                width: 302px
                font-size: 18px
                line-height: 36px
                margin-left: 10px

        &__toggle
            margin-top: 48px
            display: flex
            gap: 20px
            justify-content: center

            @media screen and ( max-width: 1000px )
                margin-top: 17px

            .toggle-text
                margin-top: 6px
                font-weight: 500
                font-size: 24px
                line-height: 28px

                @media(max-width: 1000px)
                    font-size: 18px
                    line-height: 28px

            .toggles
                width: 84px
                height: 40px
                background: url("../assets/toggle_bg.png")

                input
                    display: none

                input:checked ~ .toggle-label
                    left: -20px

                .toggle-label
                    position: relative
                    top: 6px
                    left: 20px
                    transition: all 300ms cubic-bezier(.47,1.64,.41,.8)

    &__plans
        display: flex
        flex-direction: row
        justify-content: center
        gap: 30px
        margin-top: 70px
        margin-bottom: 160px
        position: relative
        z-index: 3

        @media(max-width: 1000px)
            flex-direction: column
            align-items: center

    &__plan
        width: 470px
        height: 608px
        border-radius: 110px
        display: flex
        position: relative
        flex-direction: column
        align-items: center
        text-align: center

        @media(max-width: 1000px)
            border-radius: 30px
            width: 327px
            height: 288px
            align-items: flex-start
            padding-left: 26px

        &.-white
            border: 1px solid #FF553E

        &.-orange
            background: #FF553E

        &__bigtext
            margin-top: 64px
            font-family: 'Inter'
            font-style: normal
            font-weight: 600
            font-size: 48px
            line-height: 48px

            @media(max-width: 1000px)
                margin-top: 41px
                font-size: 20px
                line-height: 100%

            &.-white
                color: #FFFFFF

        &__smalltext
            font-family: 'Inter'
            font-style: normal
            font-weight: 600
            font-size: 28px
            line-height: 52px
            margin-top: 20px

            @media(max-width: 1000px)
                margin-top: 16px
                font-size: 18px
                line-height: 20px
                font-weight: 400

            &.-white
                color: #FFFFFF

            &.-orange
                color: #FF553E
                opacity: 0.8

            &.-first
                margin-top: 56px

                @media(max-width: 1000px)
                    margin-top: 29px

        &__amount
            margin-top: 64px

            @media(max-width: 1000px)
                position: absolute
                margin-top: 0
                left: 186px
                top: 36px
                width: 115px
                height: 40px

                img
                    width: 115px
                    height: 40px

            &__free
                @media(max-width: 1000px)
                    width: 115px
                    height: 50px

                    img
                        width: 115px
                        height: 50px

        &__button
            margin-top: 64px
            font-style: normal
            font-weight: 500
            font-size: 18px
            line-height: 28px

            @media(max-width: 1000px)
                margin-top: 30px
                margin-left: 18px

    &__hand
        position: absolute
        top: 614px
        z-index: 4

        @media screen and ( max-width: 1000px )
            display: none

    &__line
        position: absolute
        top: 431px
        right: 16.6vw

        @media(max-width:1500px)
            right: 10vw

        @media screen and ( max-width: 1000px )
            display: none

    &__clock
        position: absolute
        top: 320px
        right: 18.2vw
        z-index: 0

        @media(max-width:1500px)
            right: 10vw

        @media screen and ( max-width: 1000px )
            display: none

.partners
    height: 851px
    position: relative
    background: #F8FEFE

    @media screen and ( max-width: 1000px )
        background: white
        height: 1000px

    &__info
        position: absolute
        top: 240px
        margin-right: 5.2%
        display: flex
        flex-direction: column
        margin-left: 50.7%

        @media screen and (max-width: 1000px)
            position: relative
            top: 0
            margin: 0 auto
            width: 323px

        &__bigtext
            font-weight: 600
            font-size: 48px
            line-height: 70px
            width: 525px

            @media screen and ( max-width: 1000px )
                margin-top: 80px
                width: 225px
                font-size: 24px
                line-height: 140%
                text-transform: capitalize

            .underline
                position: relative
                background: url(../assets/Shape.png) no-repeat
                background-position: 50px 32px

                @media screen and ( max-width: 1000px )
                    background: url(../assets/shape_transparent.png) no-repeat
                    background-position: 55px 18px

        &__smalltext
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 36px
            margin-top: 24px
            color: #404040
            opacity: 0.8
            width: 471px

            @media screen and ( max-width: 1000px  )
                width: 323px
                font-size: 16px
                line-height: 180%

        &__button
            margin-top: 48px

            @media(max-width: 1500px)
                margin-left: 15%

            @media(max-width: 1000px)
                margin-left: 0

    &__picture
        display: flex
        align-items: center
        justify-content: center

        @media(max-width: 1000px)
            img
                padding: 28px
                width: 120px
                height: 120px

    &__pictures
        @media(max-width: 1000px)
            width: 323px
            height: 0
            margin: 0 auto

    @media(max-width: 1000px)
        .pictures-row1
            position: relative
            display: flex
            gap: 24px
            left: 24px
            top: 450px

        .pictures-row2
            position: relative
            display: flex
            gap: 24px
            left: 24px
            top: 470px

    .picture-red
        background: rgba(243, 83, 37, 0.1)
        border-radius: 40px
        width: 240px
        height: 152px
        position: absolute
        left: 10%
        top: 120px

        @media(max-width: 1000px)
            position: relative
            left: 0
            top: 0
            right: 0
            width: 120px
            height: 120px
            border-radius: 10px

    .picture-yellow
        position: absolute
        width: 358px
        height: 239px
        left: 4%
        top: 326px
        background: rgba(255, 186, 0, 0.1)
        border-radius: 54px

        @media(max-width: 1000px)
            position: relative
            left: 0
            right: 0
            top: 0
            width: 120px
            height: 120px
            background: rgba(65, 165, 238, 0.1)
            border-radius: 10px

    .picture-green
        position: absolute
        width: 315px
        height: 204px
        left: 25.5%
        top: 208px
        background: rgba(51, 214, 100, 0.1)
        border-radius: 48px

        @media(max-width: 1000px)
            position: relative
            left: 0
            top: 0
            right: 0
            width: 120px
            height: 120px
            border-radius: 10px

    .picture-blue-small
        position: absolute
        width: 240px
        height: 152px
        left: 10%
        bottom: 80px
        background: rgba(28, 96, 191, 0.1)
        border-radius: 48px

        @media(max-width: 1000px)
            display: none

    .picture-blue-big
        position: absolute
        width: 385px
        height: 243px
        left: 25.5%
        bottom: 137px
        background: rgba(66, 133, 244, 0.1)
        border-radius: 54px

        @media(max-width: 1000px)
            position: relative
            left: 0
            top: 0
            right: 0
            width: 120px
            height: 120px
            border-radius: 10px

.clients
    height: 878px
    position: relative

    @media screen and ( max-width: 1000px )
        height: 600px

    &__info
        display: flex
        flex-direction: column
        align-items: center
        text-align: center

        @media screen and ( max-width: 1000px )
            align-items: flex-start
            width: 327px
            margin: 0 auto

        &__bigtext
            width: 498px
            font-weight: 600
            font-size: 48px
            line-height: 70px
            margin-top: 173px

            @media screen and ( max-width: 1000px )
                width: 258px
                font-size: 24px
                line-height: 140%
                text-transform: capitalize
                margin-top: 0px

            .underline
                position: relative
                background: url(../assets/Shape.png) no-repeat
                background-position: 0px 32px

                @media screen and ( max-width: 1000px )
                    background: url(../assets/shape_transparent.png) no-repeat
                    background-position: 0px 12px
                    background-size: 117px 23px

        &__smalltext
            width: 302px
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 36px
            color: #404040
            opacity: 0.8
            margin-top: 20px

            @media screen and ( max-width: 1000px )
                display: none

        &__comment
            display: flex
            gap: 48px
            margin-bottom: 140px
            margin-top: 60px
            width: 998px

            @media screen and ( max-width: 1000px )
                width: 327px
                flex-direction: column
                margin-top: 30px
                gap: 30px

            &__photo
                width: 298px
                height: 379px
                background: #FFF8F2
                border-radius: 370px

                @media screen and ( max-width: 1000px )
                    width: 170px
                    height: 144px
                    border-radius: 40px

            &__texts
                display: flex
                flex-direction: column
                margin-top: 65px
                text-align: left

                @media screen and ( max-width: 1000px )
                    margin-top: 0px

            &__text
                width: 652px
                font-family: 'Inter'
                font-style: normal
                font-weight: 400
                font-size: 20px
                line-height: 36px
                color: #404040
                opacity: 0.8

                @media screen and ( max-width:1000px )
                    width: 327px
                    font-size: 16px
                    line-height: 180%
                    color: #1C0E0D

            &__name
                margin-top: 36px
                font-family: 'Inter'
                font-style: normal
                font-weight: 500
                font-size: 24px
                line-height: 24px
                color: #38363C

                @media screen and ( max-width: 1000px )
                    font-size: 20px
                    margin-top: 28px

            &__job
                margin-top: 16px
                font-family: 'Inter'
                font-style: normal
                font-weight: 500
                font-size: 18px
                line-height: 26px
                color: #38363C
                opacity: 0.7

                @media screen and ( max-width: 1000px )
                    font-size: 16px
                    margin-top: 10px

            &__navigation
                display: flex
                gap: 10px
                margin-top: 28px

            &__navactive
                width: 36px
                height: 12px
                background: #FF553E
                border-radius: 7px

            &__navinactive
                width: 12px
                height: 12px
                background: rgba(255, 85, 62, 0.2)
                border-radius: 7px

    .image-like
        position: absolute
        top: 38px
        left: 3vw

        @media(max-width: 1000px)
            width: 62px
            height: 63px
            left: 52%
            top: 70px

    .image-chat
        position: absolute
        bottom: 116px
        left: 13.6vw

        @media(max-width: 1000px)
            width: 79px
            height: 81px
            left: auto
            right: 0
            top: 130px

    .image-emoji
        position: absolute
        bottom: 107px
        right: 7.2vw

        @media screen and ( max-width: 1000px )
            display: none

    .like-line
        position: absolute
        top: 203px
        left: 10.2vw

        @media screen and ( max-width: 1000px )
            width: 62.43px
            height: 55.9px
            left: 65%
            top: 130px

    .emoji-line
        position: absolute
        bottom: 58px
        right: 5.3vw

        @media screen and ( max-width: 1000px )
            display: none

.download
    position: relative
    display: flex
    height: 676px
    background: #FFF8F2

    @media screen and ( max-width: 1000px )
        height: 431px

    &__info
        margin-left: 20%
        display: flex
        flex-direction: column
        z-index: 2

        @media(max-width: 1000px)
            margin-left: 6.4%

        &__bigtext
            width: 428px
            height: 70px
            font-weight: 600
            font-size: 48px
            line-height: 70px
            margin-top: 248px

            @media screen and ( max-width:1200px )
                margin-top: 248px
                font-size: 24px
                text-transform: capitalize

            @media screen and ( max-width: 1000px )
                margin-top: 24px

            .underline
                position: relative
                background: url(../assets/Shape.png) no-repeat
                background-position: 100px 32px

                @media screen and ( max-width: 1000px )
                    background: url(../assets/shape_transparent.png) no-repeat
                    background-position: 90px 16px
                    background-size: 70px 14px

        &__smalltext
            width: 27.5vw
            font-family: 'Inter'
            font-style: normal
            font-weight: 400
            font-size: 20px
            line-height: 36px
            color: #404040
            opacity: 0.8
            width: 529px
            margin-top: 24px

            @media screen and ( max-width: 1300px )
                width: 314px

            @media screen and ( max-width: 1000px )
                width: 314px
                font-size: 16px
                line-height: 30px
                margin-top: 16px

        &__buttons
            margin-top: 48px
            display: flex
            gap: 20px

            @media screen and (max-width: 1000px)
                flex-direction: column
                gap: 16px
                margin-top: 30px

    &__picture
        position: absolute
        margin-top: 100px
        left: 50%

        @media(max-width: 1550px)
            margin-left: 111px

        @media screen and ( max-width: 1000px )
            display: none

    .hand-1
        position: absolute
        top: 11px
        left: 0

        @media(max-width: 1550px)
            left: -100px

            @media screen and ( max-width: 1000px )
                display: none

    .hand-2
        position: absolute
        top: 290px
        right: 0

        @media(max-width: 1550px)
            display: none

        @media screen and ( max-width: 1000px )
            display: block
            width: 176px
            height: 60px
            top: 226px

.footer
    display: flex
    flex-direction: column
    height: 341px

    @media screen and ( max-width: 1000px )
        height: 450px

    &__upper
        margin-top: 132px
        height: 30px
        display: flex
        justify-content: space-between

        @media screen and ( max-width: 1000px )
            flex-direction: column
            margin-left: 6.4%
            margin-top: 80px
            height: auto

    &__logo
        margin-left: 19.5vw
        margin-top: -8px

        @media screen and ( max-width: 1000px )
            margin-left: 0
            width: 134px
            height: 30px
            margin-top: 80px

            img
                width: 134px
                height: 30px
    &__nav
        width: 22vw
        min-width: 300px
        display: flex
        justify-content: space-between
        line-height: 24px

        @media screen and ( max-width: 1000px )
            order: 2
            flex-direction: column
            gap: 28px
            margin-top: 100px
            width: 100px

    &__socials
        width: 10vw
        margin-right: 19.5vw
        display: flex
        justify-content: space-between

        @media screen and ( max-width: 1000px )
            order: 1
            margin-top: 46px
            margin-right: 0
            margin-left: 4px
            width: 190px

    &__social-link
        cursor: pointer

    &__line
        opacity: 0.2
        border: 1px solid #404040
        height: 0px
        margin-left: 19.7vw
        margin-right: 19.7vw
        margin-top: 58px

        @media(max-width: 1000px)
            display: none

    &__bottom
        display: flex
        justify-content: space-between
        margin-left: 19.7vw
        margin-right: 19.7vw
        margin-top: 40px
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 24px
        color: #404040

        @media screen and ( max-width: 1000px )
            flex-direction: column
            gap: 24px
            margin-left: 24px
            margin-right: 0
            font-size: 16px
            line-height: 24px
            color: #404040
            opacity: 0.5
            margin-left: 6.4%
            width: 300px

        &__left-links
            display: flex
            gap: 5.6vw

            @media screen and ( max-width: 1000px )
                flex-direction: column
                gap: 24px

        &__link
            cursor: pointer

        &__copyright
            height: 48px
